body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('purple4.png'); /* Replace 'your-background-image.jpg' with the actual URL or path of your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.proposal-container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    display: inline-block; 
    color: #8446b4;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 10px 10px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#yesButton {
    background-color: #4CAF50; /* Change to green color */
    color: #fff;
}

#noButton {
    background-color: #ff6666;
    color: #fff;
}
